@mixin documentManagement{
	.appTitleLabel {
		text-align: center !important;
		font-weight: bold !important;
	 }
	 
	.component-wrap {
		width: 100%;
		text-align: center !important;
		vertical-align: inherit !important;
	}
}
